.pokedex-container {
    display: flex;
    justify-content: center;
    .pokedex-card-container {
        width: 320px;
        border: 1px solid #000;
        background-color: #e71b2a;
    }
    .pokedex-hinge {
        background-color: #e71b2a;
        width: 30px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            border: 1px solid black;
            border-radius: 2px;
            height: 50px;
            box-shadow: inset 0px 0px 4px 1px #000;
        }
    }
    .pokedex-list-container {
        .pagination-controls {
            button {
                cursor: pointer;
            }
        }
        .pokedex-list {
            display: grid;
            grid-template-columns: repeat(2, 150px);
            background-color: #45b2f0;
            padding: 10px;
            .pokedex-list-item {
                margin: 5px 0;
                padding: 0px 15px;
                cursor: pointer;
                color: #fff;
                border: 1px solid transparent;
                width: fit-content;
                text-transform: capitalize;
                &:hover {
                    border-color: #fff;
                    border-radius: 10px;
                }
            }
        }
    }
}
