.pokedex-container {
    display: flex;
    justify-content: center;
    .pokedex-container-inner {
        display: flex;
        border: 1px solid #000;
        box-shadow: -1px 3px 6px 0px #000;
        .pokedex-card-container {
            position: relative;
            width: 320px;
            border: 1px solid #000;
            background-color: #e71b2a;
            .pokedex-camera-container {
                position: absolute;
                top: -30px;
                left: -2px;
                display: flex;
                align-items: center;
                width: 352px;
                height: 30px;
                justify-content: space-around;
                background-color: #e71b2a;
                border: 2px solid #000;
                box-shadow: -1px 0px 5px 0px #000;
                .pokedex-camera-lense {
                    .lense-inner {
                        border: 1px solid #efefef;
                        border-radius: 50%;
                        padding: 9px;
                        background-color: #57aacf;
                        box-shadow: 0px 0px 3px 1px #000;
                        position: relative;
                        .lense-glare {
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            padding: 2.6px;
                            border-radius: 50%;
                            background-color: #ffffffbf;
                        }
                    }
                }
                .pokedex-camera-lights {
                    display: flex;
                    justify-content: space-between;
                    width: 50px;
                    height: 10px;
                    .red {
                        background-color: #c22a28;
                    }
                    .yellow {
                        background-color: #fefd46;
                    }
                    .green {
                        background-color: #68e53a;
                    }
                    .red,
                    .yellow,
                    .green {
                        box-shadow: 0px 0px 1px 1px #000;
                        padding: 4px;
                        border: 1px solid #efefef;
                        border-radius: 50%;
                    }
                }
            }
        }
        .pokedex-hinge {
            background-color: #e71b2a;
            width: 30px;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
                border: 1px solid black;
                border-radius: 2px;
                height: 50px;
                box-shadow: inset 0px 0px 4px 1px #000;
            }
        }
        .pokedex-list-container {
            border: 1px solid #000;
            background-color: #e71b2a;
            .pokedex-list-container-inner {
                padding: 15px;
                .pokedex-list {
                    display: grid;
                    background-color: #45b2f0;
                    border: 3px solid #000;
                    padding: 10px;
                    min-height: 315px;
                    min-width: 326px;

                    .pokedex-list-item {
                        padding: 0px 15px;
                        cursor: pointer;
                        color: #fff;
                        border: 1px solid transparent;
                        width: fit-content;
                        height: fit-content;
                        text-transform: capitalize;
                        &:hover {
                            border-color: #fff;
                            border-radius: 10px;
                        }
                    }
                    .loading-icon-container {
                        display: flex;
                        align-items: center;
                    }
                }
                .pokedex-list.list-columns {
                    grid-template-columns: repeat(2, 150px);
                }
            }
            .pagination-controls {
                display: flex;
                justify-content: space-around;
                button {
                    width: 100px;
                    cursor: pointer;
                    font-weight: 600;
                    border: 2px solid #000;
                    box-shadow: 1px 1px 3px 0px #000;
                    &:active {
                        background-color: rgb(93, 93, 93);
                    }
                }
            }
        }
    }
}
