.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #e4e4e4;
    a {
        color: #69385c;
        &:hover {
            color: #715b64;
            text-decoration: underline;
        }
    }
}
