/* GLOBAL AND DEFAULT STYLES */

/* Custom font */
@font-face {
    font-family: "PokeDex";
    src: url("../../assets/fonts/pokedex-font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body {
    margin: 0;
}

/* Set core body defaults */
body {
    font-family: "PokeDex";
    font-size: 18px;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

.loading-icon {
    font-size: 4em;
    transform: rotate(360deg);
    animation: rotation 1s infinite linear;
    margin: 0 auto;
}

.master-container {
    margin: 40px 0;
    flex: 1;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
