.card-container-inner {
    background-color: #dfdedf;
    margin: 20px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    .card-screen {
        margin: 10px;
        background-color: #93548b;
        border: 3px solid #000;
        padding: 5px;
        height: 345px;
        .card-name-id-container {
            display: flex;
            justify-content: space-between;
            .card-name {
                color: #fff;
                text-transform: capitalize;
                font-size: 20px;
            }
            .card-id {
                text-align: center;
                width: 54px;
            }
        }
        .card-image-types-container {
            display: flex;
            justify-content: space-around;
            .card-types {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .card-single-type {
                    margin: 2px 5px;
                    padding: 3px 6px;
                    width: 65px;
                    text-align: center;
                    border-radius: 10px;
                    text-transform: capitalize;
                }
            }
        }
        .card-info-container {
            .card-weight-height-container {
                display: flex;
                flex-direction: column;
            }
            .card-data {
                display: flex;
                .title {
                    margin-right: 5px;
                }
            }
            .card-weight-height-container,
            .card-evolution-container {
                width: 100%;
            }
            .card-evolution-container {
                flex-direction: column;
                height: 91px;
                .title {
                    text-decoration: underline;
                }
                .card-evolution-list {
                    display: grid;
                    grid-template-columns: repeat(2, 105px);
                    grid-column-gap: 5px;
                    .evolution-name {
                        text-transform: capitalize;
                    }
                }
            }
        }

        .card-name-id-container,
        .card-image-types-container,
        .card-info-container,
        .card-weight-height-container {
            margin-bottom: 10px;
        }

        .card-id,
        .card-weight-height-container,
        .card-evolution-container {
            background-color: #b198ae;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
}
