.card-container-inner {
    margin: 20px;
    .name-id-container {
        display: flex;
        justify-content: space-between;
        .card-name {
            color: #fff;
            text-transform: capitalize;
        }
    }
    .image-types-container {
        display: flex;
        justify-content: space-around;
        .card-image {
        }
        .card-types {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card-single-type {
                margin: 2px 5px;
                padding: 3px 6px;
                width: 65px;
                text-align: center;
                border-radius: 10px;
                text-transform: capitalize;
            }
        }
    }
    .card-info {
        display: flex;
        flex-direction: column;
        .card-data {
            display: flex;
            .title {
                margin-right: 5px;
            }
        }
    }
}
